.container {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-evenly;
}

.top-row {
  width: 100%;
  margin: 2%;
  text-align: center;
}

.pokemon-name {
  text-align: center;
  font-size: 40px;
}

.pokemon-column {
  flex: 1;
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 25%;
}

.pokemon-column h3 {
  font-size: 28px;
  text-align: center;
}

.pokemon-column p {
  font-size: 24px;
  margin: 5px 15px;
}

.pokemon-column .stat {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.pokemon-column-stat {
  flex: 1;
  border: 1px solid black;
  border-radius: 3px;
}

.container .image {
  text-align: center;
}

.container img {
  width: 500px;
}
