.card {
  background-color: darkkhaki;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  white-space: nowrap;
  width: 230px;
}

.card:hover {
  cursor: pointer;
  background-color: yellow;
}

.card h3 {
  font-size: 30px;
  font-family: fantasy;
  font-variant: small-caps;
  letter-spacing: 3px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.card img {
  vertical-align: middle;
  max-width: 200px;
  padding: 10px;
}
